<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="userExtensionInfo" name="userExtensionInfo" schema="schema/userExtensionInfo.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.plugin.blog.demo.actionSet"
            label="DemoActionSet"
            visible="true">
         <menu
               id="com.plugin.blog.demo.actionSet.menu"
               label="DemoMenu"
               path="additions">
            <separator
                  name="actionSet.menu.seperator">
            </separator>
         </menu>
         <action
               class="com.plugin.blog.demo.actions.OpenViewAction"
               icon="icons/icon_choice.png"
               id="com.plugin.blog.demo.actions.OpenViewAction"
               label="OpenViewAction"
               menubarPath="com.plugin.blog.demo.actionSet.menu/actionSet.menu.seperator"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="com.plugin.blog.demo.actions.CloseViewAction"
               definitionId="com.plugin.blog.demo.command.CloseView"
               icon="icons/icon_sample.gif"
               id="com.plugin.blog.demo.actions.CloseViewAction"
               label="CloseViewAction"
               menubarPath="file/new/additions"
               style="push"
               toolbarPath="additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.plugin.blog.demo.command.CloseView"
            name="CloseViewCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.plugin.blog.demo.command.CloseView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.plugin.blog.demo.category"
            name="DemoCategory">
      </category>
      <view
            category="com.plugin.blog.demo.category"
            class="com.plugin.blog.demo.view.DemoViewPart"
            icon="icons/icon_choice.png"
            id="com.plugin.blog.demo.view.DemoViewPart"
            name="DemoViewPart"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.plugin.blog.demo.viewContribution.DemoViewPart"
            targetID="com.plugin.blog.demo.view.DemoViewPart">
         <menu
               id="com.plugin.blog.demo.DemoViewPart.menu"
               label="下拉菜单"
               path="additions">
            <separator
                  name="DemoViewPart.menu.separator">
            </separator>
         </menu>
         <action
               class="com.plugin.blog.demo.actions.UserInfoAction"
               icon="icons/icon_info.png"
               id="com.plugin.blog.demo.actions.UserInfoAction"
               label="用户信息"
               menubarPath="com.plugin.blog.demo.DemoViewPart.menu/DemoViewPart.menu.separator"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.plugin.blog.demo.viewerContribution.DemoViewPart"
            targetID="com.plugin.blog.demo.view.DemoViewPart">
         <menu
               id="com.plugin.blog.demo.popup.view.menu"
               label="PopupViewMenu"
               path="additions">
         </menu>
         <action
               class="com.plugin.blog.demo.actions.AddUserAction"
               icon="icons/icon_add.png"
               id="com.plugin.blog.demo.actions.AddUserAction"
               label="新增用户"
               menubarPath="com.plugin.blog.demo.popup.view.menu">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="com.plugin.blog.demo.objectContribution.User"
            objectClass="com.plugin.blog.demo.data.User">
         <menu
               id="com.plugin.blog.demo.popup.object.menu"
               label="PopupUserMenu"
               path="additions">
         </menu>
         <action
               class="com.plugin.blog.demo.actions.RemoveUserAction"
               icon="icons/icon_remove.png"
               id="com.plugin.blog.demo.actions.RemoveUserAction"
               label="删除用户"
               menubarPath="com.plugin.blog.demo.popup.object.menu">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.plugin.blog.demo.objectContribution.UserInfo"
            objectClass="com.plugin.blog.demo.data.UserInfo">
         <menu
               id="com.plugin.blog.demo.menu.objectContribution.UserInfo"
               label="编辑器对象菜单"
               path="additions">
         </menu>
         <action
               class="com.plugin.blog.demo.actions.EditorObjectAction"
               icon="icons/icon_editor.png"
               id="com.plugin.blog.demo.actions.EditorObjectAction"
               label="编辑器对象Action"
               menubarPath="com.plugin.blog.demo.menu.objectContribution.UserInfo">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.plugin.blog.demo.edit.DemoEditorPart"
            default="false"
            icon="icons/icon_editor.png"
            id="com.plugin.blog.demo.edit.DemoEditorPart"
            name="DemoEditorPart">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.plugin.blog.demo.editorContribution.DemoEditorPart"
            targetID="com.plugin.blog.demo.edit.DemoEditorPart">
         <menu
               id="com.plugin.blog.demo.menu.DemoEditorPart"
               label="编辑器菜单"
               path="additions">
            <separator
                  name="menu.DemoEditorPart.separator">
            </separator>
         </menu>
         <action
               class="com.plugin.blog.demo.actions.DemoEditorAction"
               icon="icons/icon_notice.png"
               id="com.plugin.blog.demo.actions.DemoEditorAction"
               label="编辑器Action"
               menubarPath="com.plugin.blog.demo.menu.DemoEditorPart/menu.DemoEditorPart.separator"
               style="push"
               toolbarPath="additions">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.plugin.blog.demo.perspective.DemoPerspectiveFactory"
            icon="icons/icon_perspective.png"
            id="com.plugin.blog.demo.perspective.DemoPerspectiveFactory"
            name="DemoPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.plugin.blog.demo.perspective.DemoPerspectiveFactory">
         <view
               id="org.eclipse.ui.views.BookmarkView"
               minimized="false"
               relationship="bottom"
               relative="com.plugin.blog.demo.view.DemoViewPart">
         </view>
         <view
               id="org.eclipse.ui.views.TaskList"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <view
               id="org.eclipse.ui.views.TaskList"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.plugin.blog.demo.wizard.DemoNewWizard"
            icon="icons/icon_add.png"
            id="com.plugin.blog.demo.wizard.DemoNewWizard"
            name="DemoNew">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.plugin.blog.demo.preference.HomePreferencePage"
            id="com.plugin.blog.demo.preference.HomePreferencePage"
            name="Demo">
      </page>
      <page
            category="com.plugin.blog.demo.preference.HomePreferencePage"
            class="com.plugin.blog.demo.preference.SamplePreferencePage"
            id="com.plugin.blog.demo.preference.SamplePreferencePage"
            name="FieldSample">
      </page>
      <page
            category="com.plugin.blog.demo.preference.HomePreferencePage"
            class="com.plugin.blog.demo.preference.UserInfoPreferencePage"
            id="com.plugin.blog.demo.preference.UserInfoPreferencePage"
            name="UserInfo">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.plugin.blog.demo.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.plugin.blog.demo.userExtensionInfo">
      <item
            id="com.plugin.blog.demo.item.mail"
            name="邮箱">
      </item>
      <item
            id="com.plugin.blog.demo.item.remark"
            name="备注">
      </item>
   </extension>

</plugin>
